* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: blanchedalmond;
    overflow: hidden;
}

.navbar span {
    float: left;
    padding: 20px;
}

.navbar ul {
    float: right;
    list-style: none;
}

.navbar li {
    padding: 20px;
    display: inline-block;
}